In [13]:
# Import packages for use
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
import time
import psutil
import cudf

# Connect to MySQL database
mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="0861137MySQL!",
  database="project1"
)

In [14]:
#Confirm connection has been established
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f773163c550>

In [15]:
### MEDIUM EXTRACTION ###
##################################################################################################################
# Join the order_line and item tables and capture CPU, RAM and elapsed time to perform operations

#light extraction performance metrics
column_names = ["CPU_utilization", "RAM_utilization", "elapsed_time"]
medExtractionPrfm = pd.DataFrame(columns = column_names)

#base metrics
print("\nBase CPU utilization: ", psutil.cpu_percent())
print("\nBase RAM utilization: ", psutil.virtual_memory().percent)

#Run 30 iterations to collect a df of performance metrics
for sampleNo in range(1):
    #script to pull data
    LEsql = "select * from item inner join order_line on order_line.orderedItem = item.orderedItem;"

    #Initiate timer for query
    start = time.perf_counter()
    print("Working on sample number: ", sampleNo+1,"\n")
    
    #insert data into dataFrame
    orderItemJoin = pd.read_sql(sql=LEsql, con=mydb)
    
    #Stop timer  
    stop = time.perf_counter()
    
    #load df with performance metrics    
    medExtractionPrfm = medExtractionPrfm.append(pd.DataFrame({'CPU_utilization': psutil.cpu_percent(),
                                                                   'RAM_utilization':  psutil.virtual_memory().percent,
                                                                   'elapsed_time': stop - start}, 
                                                                   index=[1]), ignore_index=True)
    time.sleep(5)
    
print("Data frame loading complete.")

Base CPU utilization:  0.8

Base RAM utilization:  18.3
Working on sample number:  1

Data frame loading complete.

In [16]:
medExtractionPrfm
#orderItemJoin.head(10)

   CPU_utilization  RAM_utilization  elapsed_time
0              7.1             18.7      0.716166

In [5]:
#Export DF to csv
medExtractionPrfm.to_csv (r'/home/jeff/medExtractionPrfm.csv', index = False, header=True)

In [17]:
### MEDIUM TRANSFORMATION ###
##################################################################################################################
# Preform light transformation workload.  In this case, identify all item descriptions with "Blue" in them 
# and change them to "Navy"

medTrans = orderItemJoin
column_names = ["CPU_utilization", "RAM_utilization", "elapsed_time"]
medTransPrfm = pd.DataFrame(columns = column_names)
#lightTrans.item_desc.str.contains("^Blue")

print("\nBase CPU utilization: ", psutil.cpu_percent())
print("\nBase RAM utilization: ", psutil.virtual_memory().percent)

#Run 30 iterations to collect transformation df of performance metrics
for sampleNoTransform in range(1):
    
    # Start Timer and progress tracker
    start = time.perf_counter()
    print("Working on sample number: ", sampleNoTransform+1,"\n")
    
    #Working Code
    medTrans.item_desc = medTrans.item_desc.str.replace('Blue', 'Navy', regex=True)
    medTrans['extended_price'] = medTrans.selling_price * medTrans.eaches_qty
    
    #Stop timer  
    stop = time.perf_counter()
    
    
    medTransPrfm = medTransPrfm.append(pd.DataFrame({'CPU_utilization': psutil.cpu_percent(),
                                                         'RAM_utilization':  psutil.virtual_memory().percent,
                                                         'elapsed_time':stop - start},
                                                          index=[1]), ignore_index=True)

    time.sleep(5)
print("Pandas medium load transformation metrics captured.")

Base CPU utilization:  0.5

Base RAM utilization:  18.7
Working on sample number:  1

Pandas medium load transformation metrics captured.

In [7]:
#Export DF to csv
medTransPrfm.to_csv (r'/home/jeff/medTransPrfm.csv', index = False, header=True)

In [18]:
### MEDIUM cuDF TRANSFORMATION ###
##################################################################################################################
# Preform light transformation workload.  In this case, identify all item descriptions with "Blue" in them 
# and change them to "Navy"

medTrans = orderItemJoin
column_names = ["CPU_utilization", "RAM_utilization", "elapsed_time"]
medTransPrfmCU = pd.DataFrame(columns = column_names)

## Transform pandas df to cuDF
medTransCU = cudf.DataFrame.from_pandas(medTrans)

print("\nBase CPU utilization: ", psutil.cpu_percent())
print("\nBase RAM utilization: ", psutil.virtual_memory().percent)

#Run 30 iterations to collect transformation df of performance metrics
for sampleNoTransform in range(1):
    
    # Start Timer and progress tracker
    start = time.perf_counter()
    print("Working on sample number: ", sampleNoTransform+1,"\n")
    
    #Working Code
    medTransCU.item_desc = medTransCU.item_desc.str.replace('Blue', 'Navy', regex=True)
    medTransCU['extended_price'] = medTransCU.selling_price * medTransCU.eaches_qty
    
    #Stop timer  
    stop = time.perf_counter()
    
    
    medTransPrfmCU = medTransPrfmCU.append(pd.DataFrame({'CPU_utilization': psutil.cpu_percent(),
                                                         'RAM_utilization':  psutil.virtual_memory().percent,
                                                         'elapsed_time':stop - start},
                                                          index=[1]), ignore_index=True)

    time.sleep(5)
print("cuDF medium load transformation metrics captured.")

Base CPU utilization:  0.7

Base RAM utilization:  18.7
Working on sample number:  1

cuDF medium load transformation metrics captured.

In [9]:
#Export cuDF performance to csv
medTransPrfmCU.to_csv (r'/home/jeff/medTransPrfmCU.csv', index = False, header=True)

In [19]:
# View Transformed df
medTransPrfm
medTrans = pd.DataFrame(medTrans)
medTrans

,orderedItem,item_desc,selling_price,Line,order,eaches_qty,orderedItem,POnum,extended_price
0,023401P0,RedDressP0,87.87,334,436586,12,023401P0,840175,1054.44
1,023401P0,RedDressP0,87.87,981,436581,8,023401P0,840055,702.96
2,023401P0,RedDressP0,87.87,1080,436577,16,023401P0,840040,1405.92
3,023401P0,RedDressP0,87.87,1237,436573,4,023401P0,840046,351.48
4,023401P0,RedDressP0,87.87,1279,436572,4,023401P0,840042,351.48
...,...,...,...,...,...,...,...,...,...
224276,024610P00,TanCottonTeeP00,16.22,208567,445283,9,024610P00,861437,145.98
224277,024610P00,TanCottonTeeP00,16.22,210197,445190,9,024610P00,861211,145.98
224278,024610P00,TanCottonTeeP00,16.22,215349,446352,9,024610P00,864274,145.98
224279,024610P00,TanCottonTeeP00,16.22,218949,446113,3,024610P00,863708,48.66
224280,024610P00,TanCottonTeeP00,16.22,223692,445912,9,024610P00,862972,145.98

In [43]:
# Remove duplicate columns
medTrans = medTrans.loc[:,~medTrans.columns.duplicated()]
medTrans

In [68]:
### MEDIUM LOADING ###
###################################################################################################################
#Terminate connection from Extraction database, establish connection with Load database
mydb.close()

#Connect to datalake
from sqlalchemy import create_engine
dl2 = create_engine('mysql+mysqlconnector://root:0861137MySQL!@127.0.0.1/datalake', echo=False)

In [69]:
#Confirm connection
print(dl2)

Engine(mysql+mysqlconnector://root:***@127.0.0.1/datalake)

In [70]:
# Write dataframe to datalake

#Create df to collect performance metrics
mediumLoadPrfm = pd.DataFrame(columns = column_names)
print("\nBase CPU utilization: ", psutil.cpu_percent())
print("\nBase RAM utilization: ", psutil.virtual_memory().percent)

#Run 30 iterations to collect loading performance metrics
for sampleNoLoad in range(30):

    # Start Timer and progress tracker
    start = time.perf_counter()
    print("Loading medium load data into datalake. Sample num: ", sampleNoLoad+1, "\n")
    
    #Working Code
    medTrans.to_sql('mediumTransformation', con=dl2, if_exists='replace',index=False,chunksize=200)
          
    #Stop timer  
    stop = time.perf_counter()
    
    mediumLoadPrfm = mediumLoadPrfm.append(pd.DataFrame({'CPU_utilization': psutil.cpu_percent(),
                                                         'RAM_utilization':  psutil.virtual_memory().percent,
                                                         'elapsed_time':stop - start},
                                                        index=[1]), ignore_index=True)
    time.sleep(5)

print("Medium loading complete.")

Base CPU utilization:  1.0

Base RAM utilization:  33.2
Loading medium load data into datalake. Sample num:  1

Loading medium load data into datalake. Sample num:  2

Loading medium load data into datalake. Sample num:  3

Loading medium load data into datalake. Sample num:  4

Loading medium load data into datalake. Sample num:  5

Loading medium load data into datalake. Sample num:  6

Loading medium load data into datalake. Sample num:  7

Loading medium load data into datalake. Sample num:  8

Loading medium load data into datalake. Sample num:  9

Loading medium load data into datalake. Sample num:  10

Loading medium load data into datalake. Sample num:  11

Loading medium load data into datalake. Sample num:  12

Loading medium load data into datalake. Sample num:  13

Loading medium load data into datalake. Sample num:  14

Loading medium load data into datalake. Sample num:  15

Loading medium load data into datalake. Sample num:  16

Loading medium load data into datalake. Sample num:  17

Loading medium load data into datalake. Sample num:  18

Loading medium load data into datalake. Sample num:  19

Loading medium load data into datalake. Sample num:  20

Loading medium load data into datalake. Sample num:  21

Loading medium load data into datalake. Sample num:  22

Loading medium load data into datalake. Sample num:  23

Loading medium load data into datalake. Sample num:  24

Loading medium load data into datalake. Sample num:  25

Loading medium load data into datalake. Sample num:  26

Loading medium load data into datalake. Sample num:  27

Loading medium load data into datalake. Sample num:  28

Loading medium load data into datalake. Sample num:  29

Loading medium load data into datalake. Sample num:  30

Medium loading complete.

In [71]:
# Export Medium Load Performance to local
mediumLoadPrfm.to_csv (r'/home/jeff/Desktop/mediumLoadPrfm.csv', index = False, header=True)

In [72]:
mediumLoadPrfm

    CPU_utilization  RAM_utilization  elapsed_time
0               5.0             33.9      6.257246
1               2.5             34.5      6.232770
2               2.5             35.2      6.174028
3               2.5             35.8      6.279950
4               2.5             36.5      6.185848
5               2.5             37.2      6.258129
6               2.5             37.8      6.236966
7               2.5             38.5      6.255278
8               2.5             39.1      6.214536
9               2.4             39.8      6.253705
10              2.5             40.4      6.279336
11              2.5             41.1      6.117354
12              2.5             41.7      6.200368
13              2.6             42.4      6.004202
14              2.5             43.1      6.217284
15              2.7             43.7      6.240223
16              2.5             44.4      6.206533
17              2.2             45.0      5.173515
18              2.4             45.7      6.292924
19              2.5             46.4      6.299224
20              2.5             47.0      6.211081
21              2.5             47.7      6.110576
22              2.5             48.3      6.198481
23              2.5             49.0      6.270083
24              2.6             49.6      6.291306
25              2.5             50.3      6.274113
26              2.5             50.9      6.209746
27              2.5             51.6      6.210720
28              2.4             52.2      5.757707
29              2.4             52.9      6.009528